<section id="main">
    <div class="container">
        <div class="center">
            <h1>Codimg</h1>
            <p>We will search your code using our special searching <br>algorithm and provide you with a comprehensive report.</p>
            <div class="inline-buttons">
                <a href="#"><button>Learn More</button></a><a href="/new"><button id="get-started-button">Start Now</button></a>
            </div>
        </div>
    </div>
</section>
<section id="why-codimg">
    <div class="why-codimg">
        <div class="center">
            <h2>Why Codimg</h2>
            <h3 id="why-down">A smarter way to protect your software</h3>
            <div class="card-grid">
                <div class="card">
                    <h3>Protection</h3>
                    <h4>Protect the code you have created by checking it for plagiarism.</h4>
                </div>
                <div class="card">
                    <h3>Detailed Reports</h3>
                    <h4>An accurate report is generated for every file in the repository.</h4>
                </div>
                <div class="card">
                    <h3>Share Reports</h3>
                    <h4>Download reports to share with other team members, students, and more.</h4>
                </div>
                <div class="card">
                    <h3>Assurance</h3>
                    <h4>Be sure that your code is being used correctly and there are no cases of code copyright infringement.</h4>
                </div>
                <div class="card">
                    <h3>Reliability</h3>
                    <h4>The source code is checked against millions of source code on the web.</h4>
                </div>
                <div class="card">
                    <h3>Code-splitting</h3>
                    <h4>Optimized splitting algorithm created for maximum efficiency.</h4>
                </div>
                <div class="card">
                    <h3>Efficiency</h3>
                    <h4>Unwanted and unecessary files are skipped before searching in order to increase efficiency.</h4>
                </div>
                <div class="card">
                    <h3>License Detection</h3>
                    <h4>The license in your repository is detected and is mentioned in the final report.</h4>
                </div>
                <div class="card">
                    <h3>Faster Reports</h3>
                    <h4>Reports are generated within 2-3 minutes as the entire repository is searched.</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="inner-footer">
        <!-- <a target="blank" href="https://techsyndicate.co"><img src="/assets/ts_logo.png" width="50px" height="50px"/></a> -->
        <h1><a target="blank" href="https://techsyndicate.co">Tech Syndicate</a></h1>
        <h1 id="github-link"><a target="blank" href="https://github.com/techsyndicate/codimg">GitHub</a></h1>
    </div>
</footer>