<html>
    <head>
        <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/new.css" />
    </head>
    <title>Codimg</title>
    <nav>
        <a href="/"><button>Go Back</button></a>
    </nav>
    <div class="form-container">
        <h1>New Report</h1>
        <% if(typeof(error) !== "undefined") { %> 
            <h3 style="font-weight: 400;font-size: 1rem;"><%- error %></h3>
        <% } %>
        <form method="POST" action="/new">
            <input required type="text" placeholder="Name" name="name"><br><br>
            <input required type="email" placeholder="Email" name="email"><br><br>
            <input required type="text" placeholder="Repository Link" name="repoUrl"><br><br>
            <button type="submit" id="generate-button">Choose Files</button>
        </form>
    </div>
</html>
