<html>
    <head>
        <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/results.css" />
    </head>
    <title>Codimg</title>
    <h1>User Details</h1>
    <div class="user-details">
        <p>Anshul Saha</p>
        <p>anshulsaha15@gmail.com</p>
        <p>https://github.com/sheldor1510/anshul.tk</p>
    </div><br>
    <h1>Files</h1>
    <div class="outer-div">
        <div id="org-parent" class="left-div">
            <div id="rawContentParser" class="left-card">
                <h2>rawContentParser.js</h2>
            </div>
            <div id="getFiles" class="left-card">
                <h2>getFiles.js</h2>
            </div>
            <div id="searchController" class="left-card">
                <h2>searchController.js</h2>
            </div>
            <div id="codingIgnore" class="left-card">
                <h2>codingIgnore.json</h2>
            </div>
        </div>
        <div id="parent" style="overflow: hidden;">
            <div hidden id="rawContentParserDiv" class="right-div" style="overflow: auto;height: 100%;width: 110%;">
                <h3 style="margin-left: 10px;">Repos with similar code</h3>
                <div class="card">
                    <div class="left-align">
                      <p><i class="fa fa-user"></i>
                        oorjitchowdhary<br/>
                        cw-finals
                      <br/>admin.js
                      </p>
                      <p><strong>
                      <span class="tooltip">42%
                        <span class="tooltiptext">42% of their code matches yours.</span>
                      </span>/ 
                      <span class="tooltip">30%
                        <span class="tooltiptext">30% of your code matches theirs.</span>
                      </span>  match</strong><br/>
                        840/2000 common characters
                      </p>
                    </div>
                    <div class="right-align">
                      <p>
                        <i class="fa fa-star" style="float: right"></i>
                        42&nbsp;
                      </p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="left-align">
                      <p><i class="fa fa-user"></i>
                        oorjitchowdhary<br/>
                        cw-finals
                      <br/>admin.js
                      </p>
                      <p><strong>
                      <span class="tooltip">42%
                        <span class="tooltiptext">42% of their code matches yours.</span>
                      </span>/ 
                      <span class="tooltip">30%
                        <span class="tooltiptext">30% of your code matches theirs.</span>
                      </span>  match</strong><br/>
                        840/2000 common characters
                      </p>
                    </div>
                    <div class="right-align">
                      <p>
                        <i class="fa fa-star" style="float: right"></i>
                        42&nbsp;
                      </p>
                    </div>
                </div>
                <br><div class="card">
                    <div class="left-align">
                      <p><i class="fa fa-user"></i>
                        oorjitchowdhary<br/>
                        cw-finals
                      <br/>admin.js
                      </p>
                      <p><strong>
                      <span class="tooltip">42%
                        <span class="tooltiptext">42% of their code matches yours.</span>
                      </span>/ 
                      <span class="tooltip">30%
                        <span class="tooltiptext">30% of your code matches theirs.</span>
                      </span>  match</strong><br/>
                        840/2000 common characters
                      </p>
                    </div>
                    <div class="right-align">
                      <p>
                        <i class="fa fa-star" style="float: right"></i>
                        42&nbsp;
                      </p>
                    </div>
                </div>
                <br><div class="card">
                    <div class="left-align">
                      <p><i class="fa fa-user"></i>
                        oorjitchowdhary<br/>
                        cw-finals
                      <br/>admin.js
                      </p>
                      <p><strong>
                      <span class="tooltip">42%
                        <span class="tooltiptext">42% of their code matches yours.</span>
                      </span>/ 
                      <span class="tooltip">30%
                        <span class="tooltiptext">30% of your code matches theirs.</span>
                      </span>  match</strong><br/>
                        840/2000 common characters
                      </p>
                    </div>
                    <div class="right-align">
                      <p>
                        <i class="fa fa-star" style="float: right"></i>
                        42&nbsp;
                      </p>
                    </div>
                </div>
                <br><div class="card">
                    <div class="left-align">
                      <p><i class="fa fa-user"></i>
                        oorjitchowdhary<br/>
                        cw-finals
                      <br/>admin.js
                      </p>
                      <p><strong>
                      <span class="tooltip">42%
                        <span class="tooltiptext">42% of their code matches yours.</span>
                      </span>/ 
                      <span class="tooltip">30%
                        <span class="tooltiptext">30% of your code matches theirs.</span>
                      </span>  match</strong><br/>
                        840/2000 common characters
                      </p>
                    </div>
                    <div class="right-align">
                      <p>
                        <i class="fa fa-star" style="float: right"></i>
                        42&nbsp;
                      </p>
                    </div>
                </div>
                <br>
            </div>
            <div hidden id="getFilesDiv" class="right-div">
                <h2>getFiles</h2>
            </div>
            <div hidden id="searchControllerDiv" class="right-div">
                <h2>searchController</h2>
            </div>
            <div hidden id="codingIgnoreDiv" class="right-div">
                <h2>codingIgnore</h2>
            </div>
        </div>
    </div>
    <br><br>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#getFiles').click(function(){
                $('#parent').children().hide();
                $('#org-parent').children().css({
                                'background-color':'#ffffff',
                            });
                $('#getFilesDiv').toggle();
                $(this).css({
                                'background-color':'#808080',
                            });
            });
            $('#rawContentParser').click(function(){
                $('#parent').children().hide();
                $('#org-parent').children().css({
                                'background-color':'#ffffff',
                            });
                $('#rawContentParserDiv').show();
                $(this).css({
                                'background-color':'#808080',
                            });
            });
            $('#searchController').click(function(){
                $('#parent').children().hide();
                $('#org-parent').children().css({
                                'background-color':'#ffffff',
                            });
                $('#searchControllerDiv').toggle();
                $(this).css({
                                'background-color':'#808080',
                            });
            });
            $('#codingIgnore').click(function(){
                $('#parent').children().hide();
                $('#org-parent').children().css({
                                'background-color':'#ffffff',
                            });
                $('#codingIgnoreDiv').toggle();
                $(this).css({
                                'background-color':'#808080',
                            });
            });
        });
    </script>
</html>
