body {
    background-color: #000000;
    color: white;
    max-width: 500px;
}

nav {
    margin-top: 20%;
}

nav button {
    height: 50px;
    margin-left: 50%;
    width: 120px;
    background-color: #000000;
    border-style: solid;
    border-color: #fafafa;
    color: #fafafa;
    font-family: 'Inter';
    font-size: 1.2rem;
    border-radius: 5px;
}

nav button:hover {
    background-color: #fafafa;
    color: #000000;
    cursor: pointer;
}

.form-container {
    margin-left: 100%;
    margin-top: 10%;
    font-family: 'Inter';
    width: 500px;
}

.form-container h1 {
    font-weight: 600;
}

ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: white;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);  
  }
  
  .inline {
    display: flex;
    flex-flow: row wrap;
    align-items: left;
  }

  .nested {
    display: block;
  }
  
  .active {
    display: block;
  }

  #generate-button2 {
    height: 40px;
    width: 100px;
    background-color: #fafafa;
    border-style: solid;
    border-color: #fafafa;
    color: black;
    font-family: 'Inter';
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#generate-button2:hover {
    background-color: #000000;
    color: #fafafa;
    cursor: pointer;
}