body {
    padding-top: 10%;
}

h1 {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    margin-bottom: -1rem;
}

p {
    font-family: 'Inter';
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.6;
    color: #666666;
}