body {
    padding-top: 10%;
    background-color: #ffffff;
}

#main {
    height: 130vh;
}

.container { 
    height: 300px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center h1 {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7rem;
    text-align: center;
    margin-bottom: -0.5rem;
}

.center p {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: #666666;
}

.inline-buttons {
    margin-left: 23%;
    display: flex;
    flex-flow: row wrap;
    align-items: left;
}

.center button {
    height: 40px;
    width: 160px;
    background-color: #1983FF;
    color: white;
    font-family: 'Inter';
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #1983FF;
    font-size: 1.2rem;
    border-width: 2px;
}

#get-started-button {
    height: 40px;
    width: 160px;
    background-color: #121212;
    color: white;
    font-family: 'Inter';
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #121212;
    font-size: 1.2rem;
    border-width: 2px;
    margin-left: 20px;
}

#get-started-button:hover {
    cursor: pointer;
    background-color: white;
    color: #121212;
}

.center button:hover {
    cursor: pointer;
    background-color: white;
    color: #1983FF;
}

.why-codimg {
    position: relative;
}

.why-codimg h2 {
    font-family: 'Inter';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

#why-down {
    font-family: 'Inter';
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-bottom: 4rem;
}

.card-grid {
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 1%;
}

.card {
    border-style: solid;
    border-width: 0.5px;
    border-color: #eaeaea;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 160px;
    width: 280px;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h3 {
    font-family: 'Inter';
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: -0.5rem;
}

.card h4 {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
}

footer {
    width: 100%;
    padding: 0px;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(234, 234, 234);
    margin-top: 30%;
}

.inner-footer {
    font-family: 'Inter';
    width: 80%;
    margin-left: 12.5%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-flow: row wrap;
    align-items: left;
}

.inner-footer h1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.5;
    color: rgb(140, 140, 140);
}

.inner-footer img {
    margin-top: 10px;
}

#github-link {
    margin-left: 75%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.5;
    color: rgb(140, 140, 140);
}

a {
    text-decoration: none;
    color: rgb(140, 140, 140)
}

a:hover {
    color: #111;
}